<template>


    <div class="hello">
        <h1>{{msg}}</h1>
        <div class="alert alert-info" role="alert" >
            Built with Vue.js + Typescript, Bootstrap and FontAwesome.
        </div>

        <button type="button" class="btn btn-primary" @click="addNewTodo()"> Add Todo </button>
        <p class="font-italic" style="font-size: small">(Double click note text to edit.)</p>
        <div class="container" style="margin-top: 20px;">
            <div class="row d-flex ">
                <div class="col-sm" >
                    <TodoItem v-for="todo of todos"
                              v-bind:todo="todo"
                    v-on:delete="onDelete"></TodoItem>
                </div>
            </div>
        </div>


    </div>

</template>

<script lang="ts">

import Vue from 'vue';
import Component from 'vue-class-component';
import {Todo} from "../model/Todo";
import TodoItem from "./TodoItem.vue";
@Component({
    components: {TodoItem}
})
export default class Home extends Vue {
    private msg: string = '';
    private todos: Todo[] = [];
    private count = 0;

    public addNewTodo(){
        console.log('Add New button clicked...');
        let todo: Todo = new Todo();
        todo.text = 'New TODO '+(++this.count);
        this.todos.push(todo);
        console.log('todos list : ', this.todos)
    }

    onDelete(todo: Todo){
        console.log('deleting todo : ', todo);
        for(let i = 0; i<this.todos.length; i++){
            if (this.todos[i] === todo){
                this.todos.splice(i, 1);
                break;
            }
        }

        console.log('new length : ', this.todos.length);
    }
}


</script>

<style scoped>

</style>