<template>
    <div class="alert alert-primary " :class="bgColor" role="alert" >
        <div class="row  justify-content-between align-items-center">
            <span v-show = "todo.edit == false"  @dblclick="onEditClick()">{{todo.text}}</span>
            <input v-show = "todo.edit == true" v-model = "todo.text"
                   v-on:blur= "todo.edit=false; $emit('update')"
                   @keyup.enter = "todo.edit=false; $emit('update')">
            <div class=" d-flex justify-content-between align-items-center" >



                <div style="padding: 10px;">
                    <b-dropdown id="ddown1" text="BG" class="btn-primary">
                        <b-dropdown-item-button class="bg-primary" @click="onBgColorChange('primary')">Primary</b-dropdown-item-button>
                        <b-dropdown-item-button class="bg-secondary" @click="onBgColorChange('secondary')">Secondary</b-dropdown-item-button>
                        <b-dropdown-item-button class="bg-success" @click="onBgColorChange('success')">Success</b-dropdown-item-button>
                        <b-dropdown-item-button class="bg-danger" @click="onBgColorChange('danger')">Danger</b-dropdown-item-button>
                        <b-dropdown-item-button class="bg-warning"@click="onBgColorChange('warning')" >Warning</b-dropdown-item-button>
                        <b-dropdown-item-button class="bg-info" @click="onBgColorChange('info')">Info</b-dropdown-item-button>
                        <b-dropdown-item-button class="bg-light" @click="onBgColorChange('light')">Light</b-dropdown-item-button>
                        <b-dropdown-item-button class="bg-dark" @click="onBgColorChange('dark')">Dark</b-dropdown-item-button>
                    </b-dropdown>
                </div>

                <font-awesome-icon icon="minus-circle" style="color:white;" @click="onDeleteClick()" />


            </div>


        </div>

    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import {Prop} from 'vue-property-decorator';

    import {Todo} from '../model/Todo';

    @Component({})
    export default class TodoItem extends Vue {
        @Prop() public todo!: Todo;

        bgColor: string = 'bg-warning';


        public onEditClick() {
            this.todo.edit = true;
            console.log('todo edit : ', this.todo)
        }

        public onDeleteClick(){
            console.log('delete clicked!')
            this.$emit('delete', this.todo);
        }

        public onBgColorChange(newColor: string){
            console.log('color selected : ', newColor);
            this.bgColor = 'bg-'+newColor;
        }

        public onCancel() {
            // on cancel
        }
    }

</script>

<style scoped>

</style>